.app-content{
    grid-area: content;
    height: 100%;
    // min-height: 75vh;
    // display: flex;
    // flex-direction: column;
    // flex: 1;
    // padding: 1rem;
}

.main-layout {
  min-height: 100vh; /* safer than 100% */
  display: flex;
  flex-direction: column;
}

// @media (max-width: 768px) {
//   .site-main {
//     padding: 0.75rem;
//   }

//   .site-footer {
//     font-size: 0.875rem;
//   }
// }