/* Header sticks to top */
ion-header {
    padding: 15px;
    background: linear-gradient(270deg, #d03bcd, #bd4bc1, #9839bb);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    mask-image: linear-gradient(rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 70%, rgba(0, 0, 0, 0) 100%);
}

ion-toolbar {
  --background: transparent;
  color: #fff;
}




:host {
  display: block;
  width: 100%;
}

.page-header {
  background: #3880ff;
  color: white;
  padding: env(safe-area-inset-top) 16px 10px 16px; /* Handles mobile notches */
  box-shadow: 0 2px 8px rgba(0,0,0,0.15);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 56px; /* Standard material/ionic header height */
}

.title {
  font-weight: 600;
  font-size: 1.2rem;
}