/* Header sticks to top */
ion-header {
    padding: 15px;
    background: linear-gradient(270deg, #d03bcd, #bd4bc1, #9839bb);
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    mask-image: linear-gradient(rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 70%, rgba(0, 0, 0, 0) 100%);
}

ion-toolbar {
  --background: transparent;
  color: #fff;
}