/* Header sticks to top */
.app-header {
  color: #fff;
  top: 0;
  width: 100%;
  height: 6rem;
  display: flex;
  padding: 4rem 3rem;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  position: fixed;
  z-index: 1;
  opacity: 1;
  
/*  where the real magic happens  */
  backdrop-filter: blur(30px);
  // -webkit-backdrop-filter: blur(30px);
  // background-color: rgba(225, 225, 225, 0.05);
  mask-image: linear-gradient(rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 70%, rgba(0, 0, 0, 0) 100%);
  -webkit-mask-image: linear-gradient(rgb(0, 0, 0) 50%, rgba(0, 0, 0, 0.8) 70%, rgba(0, 0, 0, 0) 100%);
  inset: -1rem 0;
// }

button {  
  border-radius: 5rem;
  padding: 1rem 2rem;
  border: 1px solid #fff;
  background-color: transparent;
  font-family: var(--font);
  font-size: var(--p);
  color: #fff;
  transition: all 0.1s ease;
  cursor: pointer;
}

button:hover {
  background-color: #000;
  border: 1px solid #000;
  color: #fff
}

.menu {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 2rem;
  z-index: 5;
  font-size: var(--h);
}


}

