/* Footer sticks to bottom */
.app-footer {
  grid-area: footer;
    color: #fff;
    bottom: 0;
    width: 100%;
    display: flex;
    padding: 1rem 2rem;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    position: fixed;
    z-index: 1;
    opacity: 1;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);

}