// :host {
//   display: block;
//   height: 100vh;
//   width: 100vw;
//   overflow: hidden;
// }

.page-layout {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Full viewport height */
  width: 100%;
}

.page-content {
  flex: 1; /* This makes the content grow to fill space */
  overflow-y: auto; /* Enables scrolling for content only */
}

.page-padding{
  padding: 20px;
}