/* styles.css */
// html, body {
//   height: 100%;
//   margin: 0;
// }

// app-root {
//   height: 100%;
//   display: block;
// }

/* app.component.css */
// .app-layout {
//   min-height: 100vh;
//   display: flex;
//   flex-direction: column;
//   background: linear-gradient(to bottom, #780891, #75086e);
// }

// .content {
//   flex: 1;
//   padding: 90px 16px;
//   overflow-y: auto;
//   color: #fff;
// }

.app-header, .app-footer {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  background-size: 200% 200%;
  animation: gradientMove 6s ease infinite;
}

@keyframes gradientMove {
  0% { background-position: 0% 50%; }
  50% { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

ion-content {
  --padding-top: 16px;
  --padding-bottom: 16px;
  --padding-start: 16px;
  --padding-end: 16px;
}