/* You can add global styles to this file, and also import other style files */
/* Core CSS required for Ionic components */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";

/* Optional utilities */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/flex-utils.css";